@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur WebApplication1</h1>
    <p>Cette application vous permet de gérer vos alertes et commentaires facilement.</p>

    <div class="mt-4">
        <a class="btn btn-primary btn-lg" asp-controller="AffichageAlertes" asp-action="Index">Voir les alertes</a>
        <a class="btn btn-secondary btn-lg" asp-controller="AffichageAlertes" asp-action="Create">Créer une alerte</a>
    </div>

    <div class="mt-5">
        <h2>Fonctionnalités :</h2>
        <ul class="list-group">
            <li class="list-group-item"> Ajouter et consulter des alertes</li>
            <li class="list-group-item"> Ajouter et consulter des commentaires</li>
            <li class="list-group-item"> Sécurisé avec authentification</li>
        </ul>
    </div>
</div>
